<html>
	<head>
		<title>Home User View | Page</title>
		
		<script  src="jquery-3.3.1.js"></script>
		<script  src="test.js"></script>
	</head>
	<body>
		
		<div style="background-color:green;" size="35">
			<table align="center" width="150%">
				<tr>
					<td><a href="/admin">Back</a><button><a href="/admin">HOME  </a></button></td>
					<td><button><a href="/logout">Log Out</a></button></td>
			
				</tr>

				<tr>

		     			<h1>Post Details</h1>
				     
				    </tr>


			</table>
			<table border="1" align="center" style="background-color: skyblue">
				<tr>
					<th>PID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Blood Group</th>
					<th>Division</th>
					<th>Area</th>
					<th>Contact</th>
					<th>Present Date</th>
					<th>Reqire Date</th>
					<th>Operation</th>
				</tr>
				<% for(var i=0;i<list.length;i++){%>

					<tr>
						<td><%= list[i].pid %></td>
						<td><%= list[i].name %></td>
						<td><%= list[i].email %></td>
						<td><%= list[i].bg %></td>
						<td><%= list[i].divi %></td>
						<td><%= list[i].area %></td>
						<td><%= list[i].phn %></td>
						<td><%= list[i].pdate %></td>
						<td><%= list[i].rdate %></td>
						<td><a href="/admin/post_delete/<%= list[i].pid %>">Delete </a></td>
					</tr>



				<% } %>
			</table>

		</div>


		
		
	</body>
</html>